html,
body {
  height: 100%;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background-color: #161a1d;
  font-family: "Roboto", sans-serif;
}

* {
  box-sizing: border-box;
}

#go-to-top {
  position: fixed;
  bottom: 20px;
  right: 30px;
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  border-radius: 30px;
  background-color: #a4161a;
  color: #ffffff;
  font-weight: bolder;
  text-decoration: none;
}

#go-to-top:hover {
  background-color: #660708;
}

/******** HEADER ********/

.header {
  display: flex;
  background-color: #d3d3d3;
}

.header-item {
  padding: 20px;
  color: #161a1d;
  text-decoration: none;
  font-size: 20px;
  font-weight: 700;
  text-align: center;
}

.header-item:hover {
  color: #d3d3d3;
  background-color: #660708;
}

#logo {
  font-family: "Audiowide", cursive;
  color: #a4161a;
}

#logo:hover {
  color: #d3d3d3;
}

.menu {
  padding-top: 10px;
}

.menu-line {
  width: 35px;
  height: 5px;
  margin: 6px 10px;
  background-color: #161a1d;
}

.dropdown {
  position: relative;
  display: none;
}

.dropdown-content {
  position: absolute;
  z-index: 1;
  display: none;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  border-radius: 2px;
  background-color: #f5f3f4;
}

.dropdown-content a {
  display: block;
  padding: 12px 16px;
  text-decoration: none;
  color: black;
  font-size: 20px;
  font-weight: 700;
}

.dropdown-content a:hover {
  color: #d3d3d3;
  background-color: #660708;
  font-size: 20px;
  font-weight: 700;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/******** INDEX PAGE ********/

.index-page-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  color: #d3d3d3;
}

.index-page-container h1 {
  color: #f5f3f4;
  font-size: 60px;
}

#welcome-logo {
  color: #a4161a;
  font-family: "Audiowide", cursive;
}

.index-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 25px;
  width: 400px;
}

.index-buttons a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 55px;
  width: 160px;
  border-radius: 2px;
  border-style: solid;
  border-width: 3px;
  color: white;
  background-color: #660708;
  border-color: #660708;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  font-weight: 600;
}

.index-buttons a:hover {
  background-color: #0b090a;
  transform: scale(1.1);
}

/******** MOVIES & SHOWS ********/

.page-container {
  display: flex;
  flex-direction: column;
  padding-top: 10px;
  padding-left: 40px;
}

.page-container h1 {
  color: #ffffff;
}

.all-images-group {
  display: inline-flex;
  flex-wrap: wrap;
  margin-top: 20px;
}

.all-images-group a {
  text-decoration: none;
}

.image-group {
  margin-right: 40px;
  margin-top: 20px;
}

.image-group:hover h3:not(:hover) {
  color: #a4161a;
}

.image-group h3:hover {
  color: #a4161a;
}

.image-group img {
  width: 300px;
  height: 400px;
}

.image-group img:hover {
  opacity: 0.7;
  transform: scale(1.05);
  border-radius: 2px;
}

.image-group:hover img:not(:hover) {
  opacity: 0.7;
  transform: scale(1.05);
  border-radius: 2px;
}

.image-group h3 {
  color: #ffffff;
  text-align: center;
  margin: 7px;
}

/********** NEWS **********/

.news-page-container {
  display: flex;
  justify-content: center;
  margin: 0px 20px;
}

.articles-container {
  width: 900px;
  /* display: flex; */
  /* flex-direction: column; */
  color: #ffffff;
}

.articles-container ul {
  padding: 0px;
}

.articles-container li {
  display: flex;
  margin-bottom: 40px;
  list-style-type: none;
}

.article-image {
  display: flex;
  align-items: center;
}

.article-image img {
  width: 400px;
  height: 300px;
}

.article-image img:hover {
  opacity: 0.7;
}

.article-preview {
  margin-left: 30px;
  color: #d3d3d3;
}

.article-preview a {
  text-decoration: none;
}

.article-preview h2 {
  margin-top: 0px;
  color: #d3d3d3;
}

.article-preview h2:hover {
  color: #a4161a;
}

.article-preview p {
  line-height: 1.5rem;
  text-align: justify;
}

.article-preview ::selection {
  background-color: #660708;
}

.article-preview span {
  margin-left: 5px;
  color: #a4161a;
  font-weight: bold;
}

.article-preview span:hover {
  color: #660708;
}

/******** ARTCILE ********/

.whole-article-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #f5f3f4;
}

.whole-article-container h1 {
  color: #d3d3d3;
}

.smaller-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 900px;
  margin: 10px;
}

.smaller-container ::selection {
  background-color: #a4161a;
}

.smaller-container img {
  align-self: center;
  width: 500px;
  height: 350px;
  border-radius: 2px;
  object-fit: cover;
}

.smaller-container p {
  line-height: 1.5rem;
  margin: 10px;
  text-align: justify;
}

/******** FOOTER ********/

.footer {
  width: 100%;
  margin-top: 10px;
  background-color: #0b090a;
  color: #d3d3d3;
  text-align: center;
  padding: 20px;
}

.footer-item {
  display: flex;
  justify-content: center;
  padding-top: 10px;
}

.my-name {
  padding-right: 10px;
}

.fa-linkedin-square {
  color: #0a66c2;
}

/******** MEDIA QUERIES ********/

@media (max-width: 480px) {
  .dropdown {
    display: inline-block;
  }

  .header-item {
    display: none;
  }

  #logo {
    display: initial;
  }

  h1 {
    align-self: center;
    font-size: 25px;
    text-align: center;
  }

  .index-page-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    padding: 5px;
    color: #d3d3d3;
  }

  .index-page-container h1 {
    font-size: 2em;
  }

  .index-page-container h2 {
    margin: 5px;
    font-size: 1.4em;
    text-align: center;
  }

  .index-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    width: 250px;
  }

  .index-buttons a {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px;
    width: 100px;
    font-size: 15px;
    font-weight: 500;
  }

  .all-images-group {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
  }

  .image-group {
    display: flex;
    flex-direction: column;
    margin: 15px;
    max-width: 200px;
  }

  .image-group img {
    width: 200px;
    height: 300px;
  }

  .articles-container li {
    flex-direction: column;
  }

  .article-preview h2 {
    margin-top: 10px;
    text-align: center;
    font-size: 1.2rem;
  }

  .article-preview {
    margin-left: 0px;
  }

  .article-image {
    justify-content: center;
  }

  .article-image img {
    width: 250px;
    height: 150px;
  }

  .smaller-container img {
    width: 250px;
    height: 150px;
  }
}

@media (min-width: 481px) and (max-width: 768px) {
  h1 {
    align-self: center;
    font-size: 28px;
    text-align: center;
  }

  .index-page-container {
    padding: 10px;
  }

  .index-page-container h2 {
    text-align: center;
  }

  .all-images-group {
    justify-content: center;
    margin-top: 5px;
  }

  .image-group {
    margin: 15px;
    max-width: 250px;
  }

  .image-group img {
    width: 250px;
    height: 350px;
  }

  .articles-container li {
    flex-direction: column;
  }

  .articles-container h1 {
    text-align: center;
  }

  .article-preview h2 {
    margin-top: 10px;
    text-align: center;
  }

  .article-preview {
    margin-left: 0px;
  }

  .article-image {
    justify-content: center;
  }

  .article-image img {
    width: 350px;
    height: 250px;
  }

  .smaller-container img {
    width: 350px;
    height: 250px;
  }
}
